doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bootstrap-3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome-4.7.0/css/font-awesome.min.css')

  body
    .container
      if messages.errors
        .alert.alert-danger.fade.in
          button.close(type='button', data-dismiss='alert')
            i.fa.fa-times-circle-o
          for error in messages.errors
            div= error.msg
      if messages.info
        .alert.alert-info.fade.in
          button.close(type='button', data-dismiss='alert')
            i.fa.fa-times-circle-o
          for info in messages.info
            div= info.msg
      if messages.success
        .alert.alert-success.fade.in
          button.close(type='button', data-dismiss='alert')
            i.fa.fa-times-circle-o
          for success in messages.success
            div= success.msg

      form.form-horizontal(method='POST')
        .form-group
          .col-sm-offset-3.col-sm-7
            button.col-sm-3.btn.btn-primary(type='submit')
              | Submit

      p Press Submit to show Flash Message.
      p Refresh Page, the Flash Message Would Disapper.
      p Click the Close Icon in Flash Message to Remove it.

  script(src='/jquery-2.2.4.min.js')
  script(src='/bootstrap-3.3.6/js/bootstrap.min.js')
